{% load static %}
<!DOCTYPE html>
<html lang='ja'>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'task_management/jquery-ui/jquery-ui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'task_management/style.css' %}">
  <script src="https://kit.fontawesome.com/516da4c1e3.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="container">
      <div id="hamburger-menu-button"><i class="fas fa-bars"></i></div>
      {% if user.is_authenticated %}
        <p>Hello {{ user }}</p>
      {% endif %}
    </div>
  </header>
  {% block listtitle %}{% endblock %}
  {% block content %}{% endblock %}
</body>

<link rel="stylesheet" type="text/css" href="{% static 'task_management/jquery.datetimepicker.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'task_management/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'task_management/jquery-ui/jquery-ui-touch-punch-0.2.3.js' %}"></script>
<script src="{% static 'task_management/jquery-ui/jquery.ui.sortable-animation.js' %}"></script>
<script src="{% static 'task_management/js/jquery.datetimepicker.min.js' %}"></script>
{% block extrajs %}{% endblock %}
</html>